In [2]:
#Question1-Ansewer

In [3]:
# For loop is used when the number of iterations is already known.
# While loop is used when the number of iteration is already unknown.
# Example of for loop
l = [1,2,3,4,56]

In [4]:
for i in l:
    print(i)

1
2
3
4
56

In [5]:
# Example of while loop
a = 6
while a <= 10:
    print(a)
    a = a + 2

6
8
10

In [6]:
#Question2-Answer

In [7]:
l = [1,2,3,4,5,6,7,8,9,10]

In [8]:
result = 0
for i in l :
    result = result + i
result

55

In [9]:
num = 10
sum = 0
while num > 0 :
    sum += num
    num -= 1
print("The sum is",sum)

The sum is 55

In [10]:
#Question3-Answer

In [11]:
unit = int(input("enter unit consume"))
if unit <= 100:
    print("charge",4.5*unit)
elif unit <= 200:
    print("charge",4.5*100+6*(unit-100))
elif unit <= 300:
    print("charge",4.5*100+6*100+10*(unit-200))
else :
    print("charge",4.5*100+6*100+10*100+20*(unit-300))

enter unit consume 310

charge 2250.0

In [12]:
#Question4 - Answer

In [13]:
list_of_numbers = list(range(1,101))
final_list = []

for each_number in list_of_numbers:
    cube = each_number**3
    if cube%4==0 or cube%5==0:
        final_list.append(cube)
        
print(final_list)

[8, 64, 125, 216, 512, 1000, 1728, 2744, 3375, 4096, 5832, 8000, 10648, 13824, 15625, 17576, 21952, 27000, 32768, 39304, 42875, 46656, 54872, 64000, 74088, 85184, 91125, 97336, 110592, 125000, 140608, 157464, 166375, 175616, 195112, 216000, 238328, 262144, 274625, 287496, 314432, 343000, 373248, 405224, 421875, 438976, 474552, 512000, 551368, 592704, 614125, 636056, 681472, 729000, 778688, 830584, 857375, 884736, 941192, 1000000]

In [14]:
#Question5 - Answer

In [16]:
string = "I want to become a data scientist"
count = 0
for i in string:
    if i == 'a' or i == 'e' or i == 'i' or i == 'o' or i == 'u':
        count += 1
    else:
        count += 0
print(count)

11